@using X.PagedList;
@using X.PagedList.Mvc.Core
@using TelefonRehberiWeb.Models


@model IPagedList<Rehber>
@*@model IEnumerable<Rehber>*@
@{
    ViewData["Title"] = "Rehber";
}
@*<a asp-controller="account" asp-action=logout>Logout</a>*@



<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
           @* <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>*@
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

               <div class="p-4 w-75 mx-auto">
        
        <h1>Rehber </h1>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Adress</th>
                <th scope="col">EMail</th>
                <th scope="col">Notes</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Adress</td>
                    <td>@item.Email</td>
                    <td>@item.Notes</td>
                    <td><a href="/Rehber/Add/@item.Id" class="btn btn-success">Edit</a>
                    <td>
                        <a href="/Rehber/Delete/@item.Id" class="btn btn-danger" onclick="return confirm('Kaydı silmek istediğinize emin misiniz?')"><i class="la la-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
         @Html.PagedListPager((IPagedList)Model,  p =>  Url.Action("Index", new{p, }),
     new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] { "page-link" }, 
     UlElementClasses = new string[] { "pagination justify-content-end" },
     MaximumPageNumbersToDisplay = 5 })</h4>
    </table>
    <br /> <br />
      <div class="col-md-4 mx-auto">  

    
        <img src="/image/agenda.png" />
    </div>

</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

@*<div class="p-4 w-75 mx-auto">
        
        <h1>Rehber </h1>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Adress</th>
                <th scope="col">EMail</th>
                <th scope="col">Notes</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Adress</td>
                    <td>@item.Email</td>
                    <td>@item.Notes</td>
                    <td><a href="Rehber/Add/@item.Id" class="btn btn-success">Edit</a>
                    <td>
                        <a href="Rehber/Delete/@item.Id" class="btn btn-danger" onclick="return confirm('Kaydı silmek istediğinize emin misiniz?')"><i class="la la-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /> <br />
      <div class="col-md-4 mx-auto">
    
        <img src="/image/agenda.png" />
    </div>

</div>*@

